#getNumber {
    font-size: 22px;
    text-align: center;
    font-family: 'PT Serif', serif;
}

.inputNumberBox {
    display: flex;
    justify-content: center;
    font-family: 'PT Serif', serif;
}

#paragraph {
    margin-left: 20px;
    background-color: #1E203B;
    color: #3094D6;
    padding: 30px;
    font-family: 'PT Serif', serif;
}

.header {
    background-color: #1E203B;
    color: #3094D6;
    padding: 20px;
    text-align: center;
    font-family: 'PT Serif', serif;
}

.instructions {
    background-color: #1E203B;
    color: #3094D6;
    padding: 20px;
    text-align: center;
    font-family: 'PT Serif', serif;
}

#getNumber {
    color: #3094D6;
    background-color: #1E203B;
    font-family: 'PT Serif', serif;
}